body {
    background-size: cover;
    background-position: center;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 85px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

#status, #number_of_objects {
    font-size: 18px;
}

h3 {
    color: white;

}
